#head{
    background-color: rgba(190, 190, 190, 0.5);
    padding-top: 100px;
    font-family: "Open sans", Arial, Helvetica;
    font-weight: 300;
}

.breadAndHeader{
    padding-bottom: 70px;
}

.about{
    padding-top: 10vh;
}

.imagenes-about{
    height: 70vh;
    margin-bottom: 10vh;
}

.aboutMe{
    padding-bottom: 100px;
    background-color: rgba(190, 190, 190, 0.5);
}

/* Footer */

#footer{
    margin-top: 10vh;
    background-color: rgba(0,0,0,1);
}

.footer1{
    color: white;
}
.footer2 { 
    background: #191919; 
    padding: 15px 0; 
    color: #777; 
    font-size: 12px; 
}
.primeraImagen{
    background-image: url(../images/sistemas_0.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.segundaImagen{
    background-image: url(../images/sistemas_1.jpg);
    background-position: center;
    background-size: cover;
    height: 33vh;
    margin-bottom: 4vh;
}
.terceraImagen{
    background-image: url(../images/Ing_sistemas.jpg);
    background-position: center;
    background-size: cover;
    height: 33vh;
}