#head{
    background-color: white;
    padding-top: 60px;
    font-family: "Open sans", Arial, Helvetica;
    font-weight: 300;
}

/* Footer */

#footer{
    background-color: rgba(0,0,0,1);
}

.footer1{
    color: white;
}
.footer2 { 
    background: #191919; 
    padding: 15px 0; 
    color: #777; 
    font-size: 12px; 
}