:root{
	scroll-behavior: smooth;
}

/* Header */
#head{
    background: #181015 url(../images/background.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    height: 100vh;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Arial, Helvetica;
    font-weight: 500;
}
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:60px; margin-bottom:6px; color:#BAB2AA; line-height:1.15em; text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(0,0,0,1); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}

#head p{
    color:black;
    font-weight: 1000;
}

#head h1{
    font-weight: 1000;
}

#head a{
    color: black;
    font-weight: 1000;
}

/* Navbar */
.slideUp {
    top: -100px;
}
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

/* Frase */

.frase{
    margin-top: 50px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }

/* Herramientas */
.tecnologias{
    padding-bottom: 100px;
    background-color: rgba(190, 190, 190, 0.5);
}

.herramientas{
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 6vh;
}

/* Conoceme */

.conoceme{
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 6vh;
}

/* Footer */

#footer{
    background-color: rgba(0,0,0,1);
}

.footer1{
    color: white;
}
.footer2 { 
    background: #191919; 
    padding: 15px 0; 
    color: #777; 
    font-size: 12px; 
}


