*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#head{
    background: url(../images/portafolio-bg.jpg);
    height: 100vh;
}

.title-portafolio{
    color: white;
    align-items: center;
    padding-top: 45vh;
}

.portafolio h1,p{
    font-weight: 800;
}

.imagen-triviate{
    background: url(../images/triviate.JPG);
    background-position: center;
    background-size: cover;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 3px black;
}

.imagen-calculadora{
    background: url(../images/calculadora.JPG);
    background-position: center;
    background-size: cover;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 3px black;
}

.imagen-pep{
    background: url(../images/pep.JPG);
    background-position: center;
    background-size: cover;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 3px black;
}

.imagen-youtube{
    background: url(../images/youtubeclon.JPG);
    background-position: cover;
    background-size: cover;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 3px black;
}

.imagen-arriendate{
    background: url(../images/arriendate.JPG) no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 3px black;
}

.card-portafolio-triviate{
    background-color: #a37ea9;
    border: 1px solid black;
    border-radius: 15px;
}

.card-portafolio-calculadora{
    background-color: rgb(92, 184, 92);
    border: 1px solid black;
    border-radius: 15px;
}

.card-portafolio-pep{
    background-color: rgb(240, 173, 78);
    border: 1px solid black;
    border-radius: 15px;
}

.card-portafolio-youtube{
    background-color: rgb(33, 37, 41);
    border: 1px solid black;
    border-radius: 15px;
}

.card-portafolio-arriendate{
    background-color: rgb(108, 117, 125);
    border: 1px solid black;
    border-radius: 15px;
}

.title-section h1{
    font-weight: 800;
    text-shadow: 0px 1px #fff;
}

.body-section{
    font-weight: 800;
}