<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/browser.svg" />
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="./css/contact.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Contacto</title>
</head>

<body>

    <!-- Navbar -->

    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand" style="margin-left: 45px;">Emerson Niño</a>
            <!-- Boton para pantallas pequeñas -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto" style="margin-right: 45px;">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html">Acerca de mi</a></li>
                    <li class="nav-item"><a class="nav-link" href="portafolio.html">Portafolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Navbar -->

    <!-- Formuario de Contacto  -->

    <div class="container" id="head">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
            <li class="breadcrumb-item active"><a>Contacto</a></li>
        </ol>
        <!-- Breadcrumb -->

        <header class="page-header">
            <h1 class="page-title">Contáctame</h1>
        </header>
        <p>Si tienes alguna duda o quieres ponerte en contacto conmigo puedes enviarme un correo electronico llenando el
            siguiente formuario y yo me pondré en contácto contigo.
        </p><br>
        <form action="/" id="mail">
            <div class="" id="app">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <input required type="text" v-model="from_name" class="form-control" placeholder="Nombres" aria-label="name"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="col-md-4 mb-3">
                        <input required type="email" v-model="from_email" class="form-control" placeholder="Email" aria-label="name"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="col-md-4">
                        <input required type="number" v-model="from_phone" class="form-control" placeholder="Telefono"
                            aria-label="name" aria-describedby="basic-addon1">
                    </div>
                </div> <br><br>
                <div class="row">
                    <div class="col-md-12">
                        <textarea required v-model="message" placeholder="Escribe tú mensaje aquí..." class="form-control"
                            rows="9"></textarea>
                    </div>
                </div><br>
                <div class="col-md-12 text-center">
                    <button class="btn btn-success" type="submit">
                        Enviar
                    </button>
                </div>
            </div>
        </form>

    </div>
    <br>

    <!-- Footer -->

    <div>
        <footer id="footer" class="top-space">
            <div class="footer1 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 widget">
                            <h3 class="widget-title">Contacto</h3>
                            <div class="widget-body">
                                <p>+57 3023596852<br>
                                    Servicesemer@gmail.com
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 widget">
                            <h3 class="widget-title">Sigueme en</h3>
                            <div class="widget-body">
                                <p class="follow-me-icons">
                                    <a href="https://twitter.com/EmersonNio1" target="_blank"><i
                                            class="fab fa-twitter fa-2x"></i></a>
                                    <a href="http://www.github.com/Diebug25" target="_blank"><i
                                            class="fab fa-github fa-2x"></i></a>
                                    <a href="http://www.twitch.tv/Emerlive" target="_blank"><i
                                            class="fab fa-twitch fa-2x"></i></a>
                                    <a href="http://www.facebook.com/emerson.nino10" target="_blank"><i
                                            class="fab fa-facebook fa-2x"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 widget text-center">
                            <h3 class="widget-title">Páginas de interes</h3>
                            <div class="widget-body">
                                <p>
                                    <a href="index.html">Inicio</a><br>
                                    <a href="about.html">Acerca de mi</a><br>
                                    <a href="contact.html">Contacto</a><br>
                                    <a href="https://emerdinger.github.io/triviate/" target="_blank">Triviate</a><br>
                                    <a href="https://emerdinger.github.io/calculadoraRegresiones/" target="_blank">Calculadora Regresioens</a><br>
                                    <a href="https://script.google.com/a/macros/unab.edu.co/s/AKfycby9HHQqOYJk9NaGGuyesrGZfE7ITc5FByabknRsPuPBxmU-pW1m7CfuJ5pDIzdj6edm/exec" target="_blank">Pep</a><br>
                                    <a href="https://emerdinger.github.io/arriendate/" target="_blank">ArriendaTE</a><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p class="text-end" style="color: white;">
                                    Copyright &copy; 2014, Emerson Niño. Designed by <a href=""
                                        rel="designer">Emerlive</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JavaScript -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Mail -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="./js/mails.js"></script>

</body>

</html>